
body, html {
    margin: 0;
    padding: 20px;
    background-color: azure;
}

.container {
    min-height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#clock {
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
}

.button {
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.set-alarm {
    background-color: pink;
}

.clear-alarm {
    background-color: lightslategray;
}
